Django==4.2.10
wagtail>=5.2
wagtail-django-recaptcha>=2.1.1
django-widget-tweaks>=1.5.0
django-recaptcha>=4.0.0
django_widget_tweaks>=1.5.0
django_bootstrap5>=23.4
contact_form @ git+https://github.com/FilipWozniak/wagtail-contact-form.git
