{% extends base_template %}

{% load i18n wagtailcore_tags static %}

{% block content %}
<div class="container mt-5 mb-5 text-center">
    {% if base_template == "cjkcms/pages/web_page.html" %}
        <div class="pt-4"> </div>
    {% endif %}
    {% if request.site.root_page.url %}
        <a href="{{ request.site.root_page.url }}" class="btn btn-primary btn-lg">
            {% translate "Back to Home Page" %}
        </a>
    {% endif %}
    <div class="row mt-5"></div>
    {% if self.thank_you_text %}
        {{ self.thank_you_text|richtext }}
    {% endif %}
    <div class="row mt-5"></div>
    <img
        src="{% static 'images/icons/thank-you.svg' %}"
        alt="{% translate 'Thank You for Your Submission' %}"
        class="w-50"
    >
</div>
{% endblock %}
